* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: #ebebec;
  color: #41414d;
}
.logo {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3rem 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-note {
  padding: 1rem;
  min-height: 10vh;
}
label {
  font-size: 2.2rem;
  font-weight: 500;
}
.note-text {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  resize: none;
}
.add-note-button {
  background-color: #36993a;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.add-note-button:hover,
.add-note-button:focus {
  background-color: #107a14;
  color: #fff;
}
.no-notes {
  font-size: 2rem;
  font-weight: 400;
  align-self: flex-start;
}
.notes {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.note {
  flex: 1;
  background-color: #fff;
  padding: 1.5rem 2rem;
  border: 1px solid #41414d;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 500px;
}
.note-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.note-description {
  font-size: 1.6rem;
  color: #5b5b5f;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.note-buttons {
  display: flex;
  justify-content: space-between;
}
.note-button {
  background-color: #0077ff;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.note-details {
  align-self: flex-start;
}
.note-delete {
  background-color: #ff002a;
  align-self: flex-end;
}
.note-details:hover,
.note-details:focus {
  background-color: #12539c;
}
.note-delete:hover,
.note-delete:focus {
  background-color: #a7132c;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  display: none;
}
@media (min-width: 768px) {
  .note-text {
    width: 500px;
  }
}
@media (min-width: 980px) {
  .note-text {
    width: 700px;
  }
  .notes {
    justify-content: space-between;
  }
  .note {
    flex-basis: 45%;
  }
}
@media (min-width: 1200px) {
  .note {
    margin-bottom: 3rem;
  }
  .note-description {
    overflow: hidden;
    line-height: 1.5;
    max-height: 20rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  .note-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  .note-popup {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    transition: transform 0.5s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
    padding: 1rem;
  }
  .note-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border: none;
    background: rgb(73, 73, 73);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .note-container.active {
    opacity: 1;
    pointer-events: all;
  }
  .note-popup.active {
    transform: translateY(0rem);
  }
}
